@page "/mahasiswa"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@inject HttpClient Http

<PageTitle>Mahasiswa</PageTitle>

<h1>Mahasiswa SI UKDW</h1>

<p>Data Mahasiswa Universitas Kristen Duta Wacana.</p>

@if (mhs == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <table class="Mahasiswa">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nama</th>
                <th>NIM</th>
                <th>Alamat</th>
                <th>EMAIL</th>
                <th>FOTO</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mh in mhs)
            {
                <tr>
                    <td>@mh.id</td>
                    <td>@mh.nama</td>
                    <td>@mh.nim</td>
                    <td>@mh.alamat</td>
                    <td>@mh.email</td>
                    <td>@mh.foto</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Mahasiswa[]? mhs;

    protected override async Task OnInitializedAsync()
    {
        mhs = await Http.GetFromJsonAsync<Mahasiswa[]>("https://kpsi.fti.ukdw.ac.id/api/progmob/mhs/72170177");
    }

    public class Mahasiswa
    {
        public int id { get; set; }

        public string nama { get; set; }

        public string nim { get; set; }

        public string alamat {get;set;}

        public string email {get;set;}

        public string foto {get;set;}
    }
}